//- Все примеси в этом файле должны начинаться c имени блока (article-side-services)

mixin article-side-services(vars)
	ul.article-side-services
		each item in vars
			li.article-side-services__item
				a.article-side-services__link(href='#')!= item.title
					svg.svg.article-side-services__icon
						use(xlink:href='/img/svgSprite.svg#icon__arrow')
