extends ../pug/layout_default.pug

block variables
	- var isMainPage = false

block meta
	title Статья

block content
	.page__top
		.grid
			.grid__row
				.grid__col
					+breadcrumbs
					h1.page__title Статьи
	.page__content
		.grid
			.grid__row
				.grid__col
					.articles-list
						.articles-list__item
							+articles-tile('17 декабря 2020', 'Типы кабеля для электропроводки: какой когда выбирать',
								[
									{li: 'Разница между шнуром, проводом и кабелем'},
									{li: 'Типы кабелей для электропроводки в зависимости от способа классификации'},
									{li: 'Выбор типа кабеля для электропроводки с учетом особенностей прокладки'},
									{li: 'Правила выбора кабеля по другим характеристикам'}
								]
							)
						.articles-list__item
							+articles-tile('17 декабря 2020', 'Проверка электропроводки: порядок действий',
								[
									{li: 'Разница между шнуром, проводом и кабелем'},
									{li: 'Типы кабелей для электропроводки в зависимости от способа классификации'}
								]
							)
						.articles-list__item
							+articles-tile('17 декабря 2020', 'Очистка канализационных колодцев: самые действенные методы',
								[
									{li: 'Причины замены водопроводных труб в квартире'},
									{li: 'Оценка состояния труб и фитингов перед заменой'},
									{li: '6 типов труб для замены водопровода в квартире'},
									{li: 'Варианты разводки водопровода в квартире'},
									{li: 'Расчет параметров труб для водопровода'},
									{li: 'Порядок замены водопроводных труб в квартире'},
									{li: 'Нюансы замены водопроводного стояка в квартире'},
									{li: 'Ошибки и проблемы при замене водопровода в квартире'}
								]
							)
						.articles-list__item
							+articles-tile('17 декабря 2020', 'Типы кабеля для электропроводки: какой когда выбирать',
								[
									{li: 'Разница между шнуром, проводом и кабелем'},
									{li: 'Типы кабелей для электропроводки в зависимости от способа классификации'},
									{li: 'Выбор типа кабеля для электропроводки с учетом особенностей прокладки'},
									{li: 'Правила выбора кабеля по другим характеристикам'}
								]
							)
						.articles-list__item
							+articles-tile('17 декабря 2020', 'Типы кабеля для электропроводки: какой когда выбирать',
								[
									{li: 'Разница между шнуром, проводом и кабелем'},
									{li: 'Типы кабелей для электропроводки в зависимости от способа классификации'},
									{li: 'Выбор типа кабеля для электропроводки с учетом особенностей прокладки'},
									{li: 'Правила выбора кабеля по другим характеристикам'}
								]
							)
					+pagination