extends ../pug/layout_default.pug

block variables
	- var isMainPage = false

block meta
	title Заголовок Статьи

block content
	.page__top.page__top_article
		.grid
			.grid__row
				.grid__col
					+breadcrumbs
			.grid__row
				.grid__col.grid__col_md-8
					h1.page__title Типы кабеля для электро&shy;проводки: какой когда выбирать
				.grid__col.grid__col_md-4
					.article-info
						.article-info__item
							.article-info__title Автор:
							.article-info__line Иванов И. И.
						.article-info__item
							.article-info__title Дата:
							.article-info__line 17 декабря 2020
	.page__content
		.grid
			.grid__row
				.grid__col.grid__col_md-8
					article.article
						p.article__lead В Москве ведется разработка строительной площадки будущего инфекционного центра в рамках реализации плана по сдерживанию коронавирусной инфекции, сообщил заместитель мэра столицы по вопросам градостроительной политики и строительства Андрей Бочкарев.
						p <q>Мы начали разрабатывать строительную площадку будущего инфекционного центра в Новой Москве и строить подъездные дороги к ней. Завершаем необходимые геологические изыскания и проработку документации</q>, – сказал Андрей Бочкарев.
						p Заммэра отметил, что оперативный штаб строительства работает в круглосуточном режиме.
						p <q>Одна из первоочередных задач сейчас – обеспечить территорию инфекционного центра необходимыми коммуникациями. В рамках проекта предстоит проложить порядка 10 км инженерных сетей</q>, – подчеркнул Бочкарев.
						p #[a(href='#') Медцентр] разместится на территории площадью 43 га. В комплексе будет работать приемное отделение, лечебный блок, реанимация, лаборатория, диагностический блок, детское, операционное и (на случай необходимости) родильное отделение.
						p Для центра планируется закупить передовые отечественные и зарубежные материалы, оснастить его самым современным медицинским оборудованием.
						p
							img(src='/img/img__hero_main.jpg', alt='')
						p <q>Проект инфекционного центра во многом уникален. Однако мы учли имеющийся в Москве опыт возведения похожих объектов, а также опыт наших коллег из Китая. Отмечу, что это будет один из самых современных медицинских центров, оснащенный всем необходимым для оказания высококвалифицированной помощи</q>, – пояснил Бочкарев.
						p Он добавил, что проработка концепции проекта, подбор технологий и изучение соответствующего опыта начались в Москве еще в конце января, когда стало известно о широком распространении коронавируса в Китае и других странах. Это позволило оперативно решить вопросы с проектированием центра и ускорить разработку документации.
						h2 Пронумерованный список:
						ol
							li Вдмлывдад ват;
							li Рвмлтадмваолтмдалмв;
							li Оаомтдмоытвсды;
							li Рлмадмлвадмлва.
						blockquote В Москве ведется разработка строительной площадки будущего инфекционного центра в рамках реализации плана по сдерживанию коронавирусной инфекции, сообщил заместитель мэра столицы по вопросам градостроительной политики и строительства Андрей Бочкарев.
						.article__slider
							.swiper-container.swiper-article
								.swiper-wrapper.swiper-article__wrapper
									.swiper-slide.swiper-article__slide
										img(src='/img/img__hero_main.jpg', alt='')
									.swiper-slide.swiper-article__slide
										img(src='/img/img__article-content_cabel.jpg', alt='')
									.swiper-slide.swiper-article__slide
										img(src='/img/img__articles_cabel.jpg', alt='')
							.swiper-pagination.swiper-article__pagination
							.swiper-button.swiper-button-prev.swiper-article__button.swiper-article__button_prev
								svg.svg.swiper-button-icon
									use(xlink:href='/img/svgSprite.svg#icon__slider-arrow_left')
							.swiper-button.swiper-button-next.swiper-article__button.swiper-article__button_next
								svg.svg.swiper-button-icon
									use(xlink:href='/img/svgSprite.svg#icon__slider-arrow_right')
						p Он добавил, что проработка концепции проекта, подбор технологий и изучение соответствующего опыта начались в Москве еще в конце января, когда стало известно о широком распространении коронавируса в Китае и других странах. Это позволило оперативно решить вопросы с проектированием центра и ускорить разработку документации.
						h2 Список:
						ul
							li Причины замены водопроводных труб в квартире;
							li Оценка состояния труб и фитингов перед заменой;
							li 6 типов труб для замены водопровода в квартире;
							li Варианты разводки водопровода в квартире;
							li Расчет параметров труб для водопровода;
							li Порядок замены водопроводных труб в квартире;
							li Нюансы замены водопроводного стояка в квартире;
							li Ошибки и проблемы при замене водопровода в квартире.
				.grid__col.grid__col_md-4
					.article-side
						.article-side__item
							.article-side__title Услуги
							+article-side-services([
								{title: 'Услуги сантехника'},
								{title: 'Услуги электрика'},
								{title: 'Устранение засоров'},
								{title: 'Мастер на час'},
								{title: 'Устранение протечек'},
								{title: 'Ремонт сантехники'},
								{title: 'Установка сантехники'},
								{title: 'Разводка труб'},
								{title: 'Установка бытовой техники'},
								{title: 'Установка входной двери'}
							])
						.article-side__item
							.article-side__title Похожие статьи
							+article-side-similar([
								{title: 'Типы кабеля для электропроводки: какой когда выбирать'},
								{title: 'Проверка электропроводки: порядок действий'},
								{title: 'Очистка канализационных колодцев: самые действенные методы'}
							])
							//-ul.article-side-similar
								li.article-side-similar__item
									img.article-side-similar__img(src='/img/img__article-content_cabel.jpg', alt='')
									.article-side-similar__info
										.article-side-similar__date 17 декабря 2020
										a.article-side-similar__link(href='#') Типы кабеля для электропроводки: какой когда выбирать