extends ../pug/layout_default.pug

block variables
	- var isMainPage = false

block meta
	title Отзывы

block content
	.page__top
		.grid
			.grid__row
				.grid__col
					+breadcrumbs
					h1.page__title Отзывы
	.page__content
		.grid
			.grid__row
				.grid__col
					.reviews-info
						.reviews-info__line Отзывы появляются с задержкой в #[span 15 минут]
						.reviews-info__line Всего отзывов: #[span 1544]
					.reviews-list
						.reviews-list__item
							+feedback-card('Елена', '17 декабря 2020 ', 4, 'Квалифицированые специалисты, все объясняют, цены доступные.')
						.reviews-list__item
							+feedback-card('Луиза', '17 декабря 2020 ', 5, 'Спасибо за работу! мастер выполнил все аккуратно, ручку дверную починил кран поменял светильник повесил, сам в магазин сходил. цена Устроила, Рекомендую!')
						.reviews-list__item
							+feedback-card('Виктор Иванович', '17 декабря 2020 ', 2, 'Заявка выполнена вовремя. Неисправность устранена. Не ожидала, что можно в то же день получить выполнение услуги. Всем довольна, мастер хороший. За всё спасибо!')
						.reviews-list__item
							+feedback-card('Луиза', '17 декабря 2020 ', 3, 'Очень понравилась работа мастера. Быстро приехал, оперативно и чисто отремонтировал. Сам сходил в магазин за необходимым, предоставил чеки. Спасибо.')
						.reviews-list__item
							+feedback-card('Татьяна', '17 декабря 2020 ', 1, 'На организацию вызывали сантехника был засор. Все было сделано аккуратно и Очень быстро. Спасибо Огромное компании и Мастеру!')
						.reviews-list__item
							+feedback-card('Евгений Смирнов', '17 декабря 2020 ', 5, 'Прекрасная работа. Оперативный выезд. Профессиональный диагноз проблеме. Качественная работа.')
						.reviews-list__item
							+feedback-card('Августина', '17 декабря 2020 ', 2, 'Мастера пригласили к 16 часам работа была закончена через час мастер грамотно и быстро устранил неполадки . Огромное спасибо за вашу оперативную работу!')
						.reviews-list__item
							+feedback-card('Леонид', '17 декабря 2020 ', 3, 'Спасибо,вам за оперативность, и качественную работу')
						.reviews-list__item
							+feedback-card('Марина', '17 декабря 2020 ', 4, 'Делают качественно, быстро и без лишней грязи. Кашперов Роман выше всяких похвал. Мастер золотые руки.')
						.reviews-list__item
							+feedback-card('Яна', '17 декабря 2020 ', 1, 'Спасибо мастеру Сергею за пунктуальность и качественно выполненную работу. Очень удобно, что мастер сам может приобрести запасные части. Сервисом самой компании тоже осталась довольна. Рекомендую')
					.reviews-bottom
						.reviews-bottom__line Нам важно ваше мнение!
						a.button.reviews-bottom__button(data-hystmodal='#reviewModal') Оставить отзыв
							span.button__helper
					+pagination