// В этом файле должны быть стили для БЭМ-блока cards-price, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.cards-price {
	margin-top: 25px;
	@media (min-width: $screen-sm) {
		margin-top: 35px;
	}
	&__grid {
		display: grid;
		justify-content: center;
		grid-gap: 16px;
		grid-template-columns: repeat(2, 1fr);
		@media (min-width: $screen-sm) {
			display: flex;
			flex-wrap: wrap;
			grid-gap: 0;
			margin: 0 -16px;
		}
	}
	&__item {
		@media (min-width: $screen-sm) {
			margin: 0 16px 32px;
			width: 261px;
		}
		@media (min-width: $screen-md) {
			width: 288px;
		}
		@media (min-width: $screen-lg) {
			width: 261px;
		}
	}
}
