*,
*::before,
*::after {
	box-sizing: border-box;
}

@at-root {
	@-ms-viewport {
		width: device-width;
	}
}

.selector-for-some-widget {
	box-sizing: content-box;
}

:root {
	font-size: var(--font-size-root);
}

html,
body {
	height: 100%;
}

html {
	font-family: sans-serif;
	line-height: 100%;
	-webkit-tap-highlight-color: rgba(var(--color-black), 0);
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
}

body {
	background-color: var(--body-bg);
	color: var(--color-typography);
	font-family: var(--font-family-base);
	font-size: var(--font-size-base);
	font-weight: var(--font-weight-base);
	line-height: var(--line-height-base);
	margin: 0;
	&.open-nav {
		overflow: hidden;
	}
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
}

[tabindex='-1']:focus {
	outline: 0 !important;
}

[hidden] {
	display: none !important;
}
