mixin pagination
	.pagination
		.pagination__item
			span.pagination__link.pagination__link_arrow
				svg.pagination__icon.svg
					use(xlink:href='/img/svgSprite.svg#icon__slider-arrow_left')
		.pagination__item
			span.pagination__link.pagination__link_active 1
		.pagination__item
			a.pagination__link(href="#") 2
		.pagination__item
			a.pagination__link(href="#") 3
		.pagination__item
			span.pagination__span ...
		.pagination__item
			a.pagination__link(href="#") 10
		.pagination__item
			a.pagination__link.pagination__link_arrow(href="#")
				svg.pagination__icon.svg
					use(xlink:href='/img/svgSprite.svg#icon__slider-arrow_right')
