// В этом файле должны быть стили для БЭМ-блока header-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header-nav {
	&__item {
		color: var(--color-typography-accent);
		font-size: 14px;
		font-weight: 500;
		line-height: 1.25;
		text-decoration: none;
		white-space: nowrap;
		& + & {
			margin: 0 0 0 16px;
		}
		transition: all .25s ease;
		&:hover {
			color: var(--color-typography);
		}
		
		
		
	}
}
