//- Все примеси в этом файле должны начинаться c имени блока (swiper-instruments)

mixin swiper-instruments(vars)
	each item in vars
		.swiper-slide.swiper-instruments__slide
			.swiper-instruments__card
				img.swiper-instruments__img(src='/img/img__instuments_' + item.img + '.jpg', alt= item.alt)
				p.swiper-instruments__heading!= item.title
				p.swiper-instruments__description!= item.description
