footer.footer
	.grid
		.grid__row
			.grid__col
				.footer__inner
					.footer__top
						.footer__logo
							svg.svg.footer__logo-img
								use(xlink:href='img/svgSprite.svg#icon__logo')
						nav.footer__services
							a.footer__link(href='#') Услуги сантехника
							a.footer__link(href='#') Услуги электрика
							a.footer__link(href='#') Устранение засоров
							a.footer__link(href='#') Мастер на час
						nav.footer__nav
							a.footer__link(href='articles.html') Статьи
							a.footer__link(href='reviews.html') Отзывы
							a.footer__link(href='#') Прайс–лист
					.footer__bottom
						address.footer__address Москва, Ленинский пр., д. 111, 119421,
							br
							| ИНН: 7703410444,
							br
							| ОГРН: 1167746459825
							br
							a.footer__mail(href='mailto:support@santehnik-home.ru') support@santehnik-home.ru
						.footer__connection
							a.footer__phone(href='tel:84991107482') +7 (499) 110–74–82
							a.button.footer__button(data-hystmodal='#orderModal') Оставить заявку
								span.button__helper
						.footer__wa
							a.footer__whatsapp(href='https://wa.me/7950123456' target='_blank')
								.footer__whatsapp-title Написать мастеру в WhatsApp
								svg.footer__whatsapp-icon.svg
									use(xlink:href='img/svgSprite.svg#icon__whatsapp')
				.footer__under
					.footer__copy 2021 © ООО «Центр бытовых услуг»
					a.footer__copy-link(href='#') Политика конфиденциальности
					a.footer__copy-link(href='#') Пользовательское соглашение
