.main-nav
	.main-nav__inner
		.city-select
			.city-select__top
				.city-select__title Москва
				svg.city-select__arrow.svg
					use(xlink:href='/img/svgSprite.svg#icon__arrow')
			.city-select__drop
				ul.city-select__list
					li.city-select__item
						a.city-select__link(href='#') Санкт-Петербург
					li.city-select__item
						a.city-select__link(href='#') Казань
					li.city-select__item
						a.city-select__link(href='#') Нижний новгород
					li.city-select__item
						a.city-select__link(href='#') Ростов-на-Дону
					li.city-select__item
						a.city-select__link(href='#') Краснодар
					li.city-select__item
						a.city-select__link(href='#') Екатеринбург
		nav.side-nav
			a.side-nav__item(href='articles.html') Статьи
			a.side-nav__item(href='reviews.html') Отзывы
			a.side-nav__item(href='#') Прайс-лист
		nav.side-services
			.side-services__section
				.side-services__top
					.side-services__title Услуги сантехника
					svg.side-services__arrow.svg
						use(xlink:href='/img/svgSprite.svg#icon__arrow')
				.side-services__drop
					ul.side-services__list
						li.side-services__item
							a.side-services__link(href='#') Вызов сантехника на дом
						li.side-services__item
							a.side-services__link(href='#') Установка сантехники
						li.side-services__item
							a.side-services__link(href='#') Замена сантехники
						li.side-services__item
							a.side-services__link(href='#') Разводка труб
						li.side-services__item
							a.side-services__link(href='#') Устранение протечек
			.side-services__section
				.side-services__top
					.side-services__title Услуги электрика
					svg.side-services__arrow.svg
						use(xlink:href='/img/svgSprite.svg#icon__arrow')
				.side-services__drop
					ul.side-services__list
						li.side-services__item
							a.side-services__link(href='#') Пункт меню
						li.side-services__item
							a.side-services__link(href='#') Пункт меню
						li.side-services__item
							a.side-services__link(href='#') Пункт меню
						li.side-services__item
							a.side-services__link(href='#') Пункт меню
						li.side-services__item
							a.side-services__link(href='#') Пункт меню
			.side-services__section
				.side-services__top
					.side-services__title Устранение засоров
					svg.side-services__arrow.svg
						use(xlink:href='/img/svgSprite.svg#icon__arrow')
				.side-services__drop
					ul.side-services__list
						li.side-services__item
							a.side-services__link(href='#') Пункт меню
						li.side-services__item
							a.side-services__link(href='#') Пункт меню
						li.side-services__item
							a.side-services__link(href='#') Пункт меню
						li.side-services__item
							a.side-services__link(href='#') Пункт меню
						li.side-services__item
							a.side-services__link(href='#') Пункт меню
			.side-services__section
				.side-services__top
					.side-services__title Мастер на час
					svg.side-services__arrow.svg
						use(xlink:href='/img/svgSprite.svg#icon__arrow')
				.side-services__drop
					ul.side-services__list
						li.side-services__item
							a.side-services__link(href='#') Пункт меню
						li.side-services__item
							a.side-services__link(href='#') Пункт меню
						li.side-services__item
							a.side-services__link(href='#') Пункт меню
						li.side-services__item
							a.side-services__link(href='#') Пункт меню
						li.side-services__item
							a.side-services__link(href='#') Пункт меню