//- Стандартный шаблон страницы
block variables
	-var isMainPage = false

include mixins.pug

doctype html
html(class='no-js', lang='ru-RU')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=0.1, shrink-to-fit=no')
		meta(name='google', content='notranslate')
		meta(name='format-detection', content='telephone=no')
		meta(name='format-detection', content='date=no')
		meta(name='format-detection', content='address=no')
		meta(name='format-detection', content='email=no')
		meta(name='HandheldFriendly' content='true')
		meta(name='robots', content='index, follow')
		meta(name='theme-color', content='#000000')

		link(rel='icon', type='image/png', href='/img/favicon/favicon-32x32.png', sizes='32x32')
		link(rel='preconnect' href='https://fonts.gstatic.com')
		link(href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')

		block meta
			title page title
			meta(name='description', content='')
			meta(name='keywords', content='')

		block head
			link(rel='stylesheet', href='css/style.css')

	body
		noscript У вас отключен JavaScript. Это пугает.

		.page
			.page__header
				include ../pug/layout_parts_header.pug
			.page__menu
				include ../pug/layout_parts_menu.pug
			.page__body
				block content
			.page__footer
				include ../pug/layout_parts_footer.pug

		script(src='/js/main.js')
		block modals
			a(data-hystmodal='#thanksModal' hidden) Вызов окна «Спасибо»
			#orderModal.hystmodal(aria-hidden='true')
				.hystmodal__wrap
					.hystmodal__window(role='dialog' aria-modal='true')
						.modal.modal_order
							button.modal__close(data-hystclose='')
								svg.svg
									use(xlink:href='/img/svgSprite.svg#icon__cross')
							.modal__top
								img.modal__img(src='/img/avatar__worker_01.png', alt='')
								.modal__text Точная стоимость работ отпределяется специальстом после осмотра.
								.modal__text.modal__text_bold Выезд мастера — бесплатный!
							.form#orderForm
								.modal__header
									.modal__title Оформить заказ
								.modal__form
									.modal__form-page.modal__form-page_1
										.modal__step 1/
											span 2
										.modal__grid
											label.form__field.form__field_mw
												input.form__input(required type='text' placeholder='Имя')
											label.form__field.form__field_mw
												input.form__input#modalPhone(required type='text' placeholder='+7 (___) ___-__-__')
											label.form__field
												textarea.form__textarea(required placeholder='Опишите вашу проблему')
										a.modal__next Далее
									.modal__form-page.modal__form-page_2
										.modal__step 2/
											span 2
										.form__row
											label.form__field
												input.form__input#dateField(required type='text' placeholder='Дата')
											label.form__field
												input.form__input(required type='text' placeholder='Время')
										.form__row-title Адрес
										.form__row
											label.form__field
												input.form__input(required type='text' placeholder='Город')
											label.form__field
												input.form__input(required type='text' placeholder='Улица')
										.form__row
											label.form__field
												input.form__input(required type='text' placeholder='Дом')
											label.form__field
												input.form__input(required type='text' placeholder='Квартира №')
										button.button.modal__page-button Заказать бесплатный выезд мастера
											span.button__helper
			#reviewModal.hystmodal(aria-hidden='true')
				.hystmodal__wrap
					.hystmodal__window(role='dialog' aria-modal='true')
						.modal.modal_review
							button.modal__close(data-hystclose='')
								svg.svg
									use(xlink:href='/img/svgSprite.svg#icon__cross')
							.modal__header
								.modal__title Оставить отзыв
							form.form
								.modal__grid
									.modal__stars
										select.star-rating
											option(value='') Выберите рейтинг
											option(value='5') 5
											option(value='4') 4
											option(value='3') 3
											option(value='2') 2
											option(value='1') 1
									label.form__field.form__field_mw
										input.form__input(required type='text' placeholder='Введите имя')
									label.form__field
										textarea.form__textarea(required placeholder='Комментарий')
									button.button.modal__button Оставить отзыв
										span.button__helper
			#thanksModal.hystmodal(aria-hidden='true')
				.hystmodal__wrap
					.hystmodal__window(role='dialog' aria-modal='true')
						.modal.modal_thanks
							button.modal__close(data-hystclose='')
								svg.svg
									use(xlink:href='/img/svgSprite.svg#icon__cross')
							.modal__header
								.modal__title Спасибо!
							.modal__body
								img.modal__img(src='/img/avatar__worker_01.png', alt='')
								.modal__info
									.modal__text Ваша заявка принята!
									.modal__text Мы свяжемся с вами в ближайшее время!
		block scripts
