//-
  ВНИМАНИЕ! Этот файл генерируется автоматически.

include ../blocks/article-side-services/article-side-services.pug
include ../blocks/article-side-similar/article-side-similar.pug
include ../blocks/articles-tile/articles-tile.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/cards-price/cards-price.pug
include ../blocks/faq/faq.pug
include ../blocks/feedback-card/feedback-card.pug
include ../blocks/header-nav/header-nav.pug
include ../blocks/pagination/pagination.pug
include ../blocks/swiper-advantage/swiper-advantage.pug
include ../blocks/swiper-instruments/swiper-instruments.pug
include ../blocks/swiper-masters/swiper-masters.pug
