// В этом файле должны быть стили для БЭМ-блока stars, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority
.stars {
	--percent: calc(var(--rating) / 5 * 100%);
	display: inline-block;
	font-size: 20px;
	line-height: 1;
	
	&::before {
		content: '★★★★★';
		letter-spacing: 3px;
		background: linear-gradient(90deg, var(--color-orange) var(--percent), #dad9d9 var(--percent));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
