mixin breadcrumbs(isInverted)
	ul.breadcrumbs(class=isInverted ? 'breadcrumbs_inverse': '')
		li.breadcrumbs__item
			a.breadcrumbs__link(href="/") Главная
		li.breadcrumbs__item
			a.breadcrumbs__link(href="#") Страница
		li.breadcrumbs__item
			span.breadcrumbs__span Страница
