// В этом файле должны быть стили для БЭМ-блока modal, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.modal {
	background: var(--color-light-grey);
	border-radius: 8px;
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	&_order {
		display: flex;
		flex-direction: column;
		max-width: 400px;
		width: calc(100% - 32px);
		@media (min-width: $screen-sm) {
			flex-direction: row-reverse;
			max-width: none;
			width: 727px;
		}
	}
	&_thanks {
		background: linear-gradient(120deg, #f3a000 -21.5%, #f38300 213%);
		color: var(--color-white) !important;
		padding: 32px 16px;
		width: calc(100% - 32px);
		@media (min-width: $screen-sm) {
			padding: 32px 24px 24px;
			width: 488px;
		}
	}
	&_review {
		padding: 32px 16px;
		width: calc(100vw - 32px);
		@media (min-width: $screen-sm) {
			padding: 32px 24px;
			width: 488px;
		}
	}
	&__close {
		background: transparent;
		border: none;
		cursor: pointer;
		display: block;
		font-size: 0;
		height: 24px;
		outline: none;
		padding: 4px;
		position: absolute;
		right: 8px;
		top: 8px;
		width: 24px;
		z-index: 2;
		svg {
			fill: var(--color-white);
			height: 16px;
			width: 16px;
		}
		@media (min-width: $screen-sm) {
			right: 16px;
			top: 16px;
		}
		.modal_review & svg {
			fill: var(--color-typography);
		}
	}
	&__top {
		background: linear-gradient(120deg, #f3a000 -21.5%, #f38300 213%);
		padding: 40px 16px 24px;
		@media (min-width: $screen-sm) {
			flex: 0 0 auto;
			padding: 54px 16px;
			width: 240px;
		}
	}
	&__body {
		@media (min-width: $screen-sm) {
			align-items: center;
			display: flex;
		}
	}
	&__info {}
	&__img {
		background: var(--color-light-grey);
		border-radius: 50%;
		height: 124px;
		display: none;
		margin: 0 auto 16px;
		overflow: hidden;
		width: 124px;
		@media (min-width: $screen-sm) {
			display: block;
		}
		.modal_thanks & {
			display: block;
			height: 104px;
			width: 104px;
			@media (min-width: $screen-sm) {
				height: 80px;
				margin: 0 24px 0 0;
				width: 80px;
			}
		}
	}
	&__text {
		color:var(--color-white);
		font-size: 14px;
		line-height: 1.57;
		text-align: center;
		& + & {
			margin-top: 8px;
		}
		&_bold {
			font-weight: 700;
		}
		.modal_thanks & {
			@media (min-width: $screen-sm) {
				text-align: left;
			}
		}
	}
	&__title {
		font-size: 22px;
		font-weight: 700;
		line-height: 1.82;
		@media (min-width: $screen-sm) {
			font-weight: 700;
			font-size: 32px;
			line-height: 1.06;
		}
		.modal_thanks & {
			text-align: center;
			@media (min-width: $screen-sm) {
				text-align: left;
			}
		}
	}
	.form {
		position: relative;
		padding: 16px 16px 32px;
		@media (min-width: $screen-sm) {
			flex: 1 1 auto;
			padding: 32px 24px;
		}
	}
	&_review .form {
		padding: 0 !important;
	}
	&__header {
		padding-bottom: 20px;
	}
	&__step {
		color: var(--color-typography-grey);
		font-size: 14px;
		font-weight: 600;
		line-height: 1.71;
		position: absolute;
		right: 16px;
		text-align: right;
		top: 24px;
		span {
			font-size: 10px;
		}
		@media (min-width: $screen-sm) {
			right: 26px;
			top: 40px;
		}
	}
	&__form-page_1 {
		.modal__grid {
			display: grid;
			grid-gap: 8px;
		}
	}
	&__form-page_2 {
		display: none;
	}
	&__next {
		color: var(--color-typography-accent);
		cursor: pointer;
		display: block;
		font-size: 14px;
		font-weight: 600;
		line-height: 1.15;
		margin: 16px auto 0;
		padding: 4px;
		width: 64px;
		@media (min-width: $screen-sm) {
			margin: 16px 0 0;
		}
	}
	&__page-button {
		margin: 24px auto 0;
		width: 214px;
		@media (min-width: $screen-sm) {
			margin: 24px 0 0;
		}
	}
	&__button {
		margin: 24px auto 0;
		@media (min-width: $screen-sm) {
			margin: 24px 0 0;
		}
	}
	&__stars {
		margin-bottom: 8px;
	}
}